<ul class="sidebar-menu collapsible collapsible-accordion" data-collapsible="accordion">
    <li class="no-padding"><a class="waves-effect waves-grey" href="index.html"><i class="material-icons">settings_input_svideo</i>Dashboard</a></li>
    <li class="no-padding">
        <a class="collapsible-header waves-effect waves-grey"><i class="material-icons">apps</i>Admin Center<i class="nav-drop-icon material-icons">keyboard_arrow_right</i></a>
        <div class="collapsible-body">
            <ul>
                <li><a href="/Admin/Company/Index">Company</a></li>
                <li><a href="/Admin/Branch/Index">Branch</a></li>
                <li><a href="/Admin/Department/Index">Department</a></li>
                <li><a href="/Admin/Position/Index">Position</a></li>
                <li><a href="/Admin/Shift/Index">Shift</a></li>
                <li><a href="/Admin/Holiday/Index">Holiday</a></li>
                <li><a href="/Admin/Leave/Index">Leave Type</a></li>
            </ul>
        </div>
    </li>
    <li class="no-padding"><a class="waves-effect waves-grey" href="charts.html"><i class="material-icons">trending_up</i>Attendance</a></li>
    <li class="no-padding">
        <a class="collapsible-header waves-effect waves-grey"><i class="material-icons">star_border</i>Leave Management<i class="nav-drop-icon material-icons">keyboard_arrow_right</i></a>
        <div class="collapsible-body">
            <ul>
                <li><a href="miscellaneous-sweetalert.html">Pending Leave</a>
                <li><a href="miscellaneous-code-editor.html">Reports</a>
            </ul>
        </div>
    </li>        
    <li class="no-padding">
        <a class="collapsible-header waves-effect waves-grey"><i class="material-icons">grid_on</i>Employee<i class="nav-drop-icon material-icons">keyboard_arrow_right</i></a>
        <div class="collapsible-body">
            <ul>
                <li><a href="/Admin/Employee/Index">Employee List</a></li>
                <li><a href="/Admin/Employee/Add">Create New</a></li>
            </ul>
        </div>
    </li>
    <li class="no-padding"><a class="waves-effect waves-grey" href="charts.html"><i class="material-icons">trending_up</i>Charts</a></li>
    <li class="no-padding">
        <a class="collapsible-header waves-effect waves-grey"><i class="material-icons">my_location</i>Maps<i class="nav-drop-icon material-icons">keyboard_arrow_right</i></a>
        <div class="collapsible-body">
            <ul>
                <li><a href="maps-google.html">Google Maps</a></li>
                <li><a href="maps-vector.html">Vector Maps</a></li>
            </ul>
        </div>
    </li>
</ul>