@model TestHR.Web.Areas.Admin.Models.CompanyModel
@{
    ViewBag.Title = "Add";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<main class="mn-inner">
    <div class="row">
        <div class="col s12">
            <div class="page-title">Add New Company</div>
        </div>
        <div class="col s12">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">Company Settings</span><br>
                    <form method="post" action="/Admin/Company/Add">
                        <div class="row">
                            <div class="row">
                                <div class="input-field col s6">
                                    <input name="Name" id="icon_prefix" type="text" class="validate">
                                    <label for="icon_prefix">Company Name</label>
                                </div>
                                <div class="input-field col s6">
                                    @Html.DropDownListFor(m => m.MotherCompanyId, new SelectList(Model.MotherCompanies, "Id", "Name"), "", new { @class = "" })
                                    <label>Mother Company</label>
                                </div>
                                <div class="input-field col s6">
                                    <input id="address" name="Address" type="text">
                                    <label for="textarea1">Address</label>
                                </div>
                                <div class="input-field col s6">
                                    <label for="address">Phone </label>
                                    <input id="address" name="Phone" type="text">
                                </div>
                                <div class="input-field col s6">
                                    <label for="address">Email</label>
                                    <input id="address" name="Email" type="text">
                                </div>
                                <div class="input-field col s6">
                                    <label for="address">Fax</label>
                                    <input id="address" name="Fax" type="text">
                                </div>
                                <div class="input-field col s6">
                                    <input name="ContactPerson" id="icon_prefix" type="text" class="validate">
                                    <label for="icon_prefix">Primary Contact </label>
                                </div>
                                <div class="input-field col s6">
                                    <select>
                                        <option value="" disabled selected>Choose Month</option>
                                        <option value="1">January</option>
                                        <option value="2">February</option>
                                        <option value="3">March</option>
                                    </select>
                                    <label>Fiscal Year Start </label>
                                </div>
                                <div class="input-field col s6">
                                    <input name="ContactPersonEmail" id="icon_prefix" type="tel" class="validate">
                                    <label for="icon_prefix">Primary Contact Email </label>
                                </div>
                                <div class="input-field col s6">
                                    <input name="ContactPersonPhone" id="ContactPersonPhone" type="tel" class="validate">
                                    <label for="ContactPersonPhone">Primary Contact Phone </label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s6">
                                <div class="file-field input-field">
                                    <div class="btn teal lighten-1">
                                        <span>Company Banner</span>
                                        <input type="file">
                                    </div>
                                    <div class="file-path-wrapper">
                                        <input class="file-path validate" type="text">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s4 offset-m7 offset-m1">
                                <input type="submit" class="btn btn-default green col s4 offset-m1" value="Save" />
                                @Html.ActionLink("Cancel", "Index", "Company", null, new { @class = "btn btn-default red col s4 offset-m1" })
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>

