@model TestHR.Web.Areas.Admin.Models.LeaveTypeModel
@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<main class="mn-inner">
    <div class="row">
        <div class="col s12">
            <div class="page-title">Blank Page</div>
        </div>
        <div class="col s12">
            <div class="card">
                <div class="card-content">
                    <form method="post" action="/Admin/LeaveType/Edit">
                        <span class="card-title">Leave Type Settings</span><br>
                        <div class="row">
                            <div class="row">
                                @Html.HiddenFor(model=>model.Id)
                                <div class="input-field col s6">
                                    <input name="Name" id="icon_prefix" type="text" value="@Model.Name" class="validate">
                                    <label for="icon_prefix">Leave Type Name</label>
                                </div>
                                <div class="input-field col s6">
                                    <input name="NumberOfDays" id="icon_prefix" value="@Model.NumberOfDays" type="text" class="validate">
                                    <label for="icon_prefix">Number Of Days</label>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col s4 offset-m7 offset-m1">
                                <input type="submit" class="btn btn-default green col s4 offset-m1" value="Save" />
                                <input type="button" class="btn btn-default red col s4 offset-m1" value="Cancel" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>

