@{
    ViewBag.Title = "Employee";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main class="mn-inner">
    <div class="row">
<div class="col s12">
    <div class="card">
        <div class="card-content">
            <div class="row icon-container">
                <div class="icon-preview col s6 m3"><i class="large material-icons">insert_chart</i><span>info_outline</span></div>
                <div class="icon-preview col s6 m3"><i class="material-icons dp48">input</i><span>input</span></div>
                <div class="icon-preview col s6 m3"><i class="material-icons dp48">invert_colors</i><span>invert_colors</span></div>
                <div class="icon-preview col s6 m3"><i class="material-icons dp48">label</i><span>label</span></div>
                <div class="icon-preview col s6 m3"><i class="material-icons dp48">label_outline</i><span>label_outline</span></div>
                <div class="icon-preview col s6 m3"><i class="material-icons dp48">language</i><span>language</span></div>
                <div class="icon-preview col s6 m3"><i class="material-icons dp48">query_builder</i><span>query_builder</span></div>
                <div class="icon-preview col s6 m3"><i class="material-icons dp48">perm_identity</i><span>perm_identity</span></div>
            </div>
        </div>
    </div>
</div>
        </div>
           
                </main>
