@model TestHR.Web.Areas.Admin.Models.DepartmentModel
@{
    ViewBag.Title = "Add";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<main class="mn-inner">
    <div class="row">
        <div class="col s12">
            <div class="page-title">Add New Department</div>
        </div>
        <div class="col s12">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">Department Settings</span><br>
                    <form method="post" action="/Admin/Department/Add">
                        <div class="row">
                            <div class="row">
                                <div class="input-field col s6">
                                    <input name="DepartmentName" id="icon_prefix" type="text" class="validate">
                                    <label for="icon_prefix">Department Name</label>
                                </div>
                                <div class="input-field col s6">
                                    @Html.DropDownListFor(m => m.CompanyId, new SelectList(Model.Company, "Id", "Name"), "--Select--", new { @class = "" })
                                    <label>Company</label>
                                </div>
                                <div class="input-field col s6">
                                    @Html.DropDownListFor(m => m.DepartmentHeadId, new SelectList(Enumerable.Empty<SelectListItem>()), "--Select--", new { @class = "" })
                                    <label>Department Head</label>
                                </div>

                            </div>
                        </div>
                        @*<div class="row">
                <div class="col s6">
                    <div class="file-field input-field">
                        <div class="btn teal lighten-1">
                            <span>Company Banner</span>
                            <input type="file">
                        </div>
                        <div class="file-path-wrapper">
                            <input class="file-path validate" type="text">
                        </div>
                    </div>
                </div>
            </div>*@
                        <div class="row">
                            <div class="col s4 offset-m7 offset-m1">
                                <input type="submit" class="btn btn-default green col s4 offset-m1" value="Save" />
                                @Html.ActionLink("Cancel", "Index", "Department", null, new { @class = "btn btn-default red col s4 offset-m1" })
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
